<h1>Hello Admin, {{name}}</h1>

<h2>List of Users</h2>
<ul>
  <li *ngFor="let user of users">
      <h3>{{user.name}}</h3>
      <p>{{user.email}}</p>
    <h4>Last Transaction</h4>
    <p>
      <strong>Last Credit:</strong> <span>Rs {{this.dataService.lastCredit}}</span>
    </p>
    <p><strong>Last Debit:</strong> Rs {{this.dataService.lastDebit}}</p>
    <p><strong>Total Value:</strong> Rs {{dataService.total}}</p>
  </li>
</ul>
