<ul>
  <li>
    <a routerLink="">User</a>
  </li>
  <li>
    <a routerLink="transaction">Make Transaction</a>
  </li>
  <li>
    <a routerLink="about">About</a>
  </li>
</ul>

<router-outlet></router-outlet>
