<h1>
  Make Transaction below:
</h1>
<form (submit)="addToTotalTrans(totalTrans.value)" >
  <label for="totalTrans">Add Rupees: </label>
  <input type="number" #totalTrans />
  <br /><br />
</form>
<form (submit)="deleteToTotalTrans(deltotalTrans.value)" >
  <label for="deltotalTrans">Remove Rupees: </label>
  <input type="number" #deltotalTrans />
  <br/><br />
</form>
<p>
  <strong>Previous Total: Rs {{currentTotal}}</strong>
</p>
<p>
  <strong>Current Total: {{dataService.total}}</strong>
</p>

